/* HERO STARTS */
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scroll-snap-type: y mandatory;
     
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.4); 
  text-align: center;
  z-index: 2;
}
.hero-overlay h1 {
  font-size: 3.5rem; 
  margin: 0;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); 
  font-weight: 700;
  letter-spacing: 1.5px; 
  transition: transform 0.3s ease; 
}

.hero-overlay p {
  font-size: 1.7rem; 
  margin-top: 1rem;
  color: #f4f1de; 
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6); 
  font-weight: 500; 
  line-height: 1.6; 
  max-width: 700px; 
  margin: 1rem auto; 
}

.get-started-button{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.get-started-button i{
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
}
.get-started-button:hover> i{
  padding-left: 5px;
}

.hero-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; 
  background: linear-gradient(transparent, black); 
  z-index: 1; 
}
/* HERO ENDS */
