#root {
  width:100%;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

:root {
  --primary-color: #2A9D8F;
  --secondary-color: #264653;
  --accent-color: #E76F51;
  --background-color: #F4F1DE;
  --text-color: #333333;

  --button-bg: var(--accent-color);
  --button-text-color: #ffffff;
  --font-family: 'Roboto', sans-serif;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}


button {
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1rem;
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
